/* Reset some default browser styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a basic style to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

#homePage, #clothesPage, #outfitsPage, #socialsPage {
    display: none;
}

/* 
* -----------------------------
* Styles for the navbar header
* -----------------------------
*/

header {
    background-color: #ffffff;
    position: fixed;
    color: #000000;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* Style the logo image with padding */
header a img {
    height: 50px;
    padding: 10px; /* Add padding around the logo */
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav li {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

/* Style the navigation buttons with padding */
.nav-button {
    height: 100px;
    width: 200px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    cursor: pointer;
}

/* Style the icon and text in navbar */
.nav-icon {
    font-size: 24px;
}

.nav-icon-pic {
    height: 25px;
    padding-bottom: 5px;
}

.nav-text {
    font-size: 24px;
    text-align: center;
}

.profile {
    height: 50px;
    padding: 10px; /* Add padding around the logo */
    margin-left: 20px;
    margin-right: 20px;
}

/* 
* -----------------------------
* Styles for the main content
* -----------------------------
*/
main {
    padding: 20px;
    margin-top: 100px;
}

main h1 {
    text-align: center;
}

section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    align-content: center;
}

/* Style the footer */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/**Style for the outfit section**/
/*bottom buttons*/
#headedO{
    font-size:20px;
    padding: 0px 0px;
    margin:0;

}

#description-box{
    width: 30%;
    height: 40%;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 10px 2px;
}
#Description{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    padding: 0px 0px;
}
#content-box{
    width: 40%;
    height: 300px;
    border: 3px solid #000;
    box-sizing: border-box;
    position: relative; /* Add relative positioning */
}


/*the arrow buttons on the side*/
.arrow {
    flex-direction: row;
    font-size: 40px;
    border-radius: 10px;
    color: #333333;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c5c5c5, 6px 6px 12px #ffffff;
    transition: all ease-in-out 0.2s;

}

    .arrow.left {
        position: absolute;
        left: 24%;
        top:52% ;/*centrally vertical*/
        transform: translateY(-50%);
    }
        .arrow.left:hover {
            font-size: 45px;
        }


    .arrow.right {
        position: absolute;
        left: 73%;
        top:52%; /*centrally vertical*/
        transform: translateY(-50%);
    }
        .arrow.right:hover {
            font-size: 45px;
        }

.arrow:focus{
    background-color: #d3d3d3;
    box-shadow: 0 0 5px 2px #363535;
}

/*the buttons on the bottom of the page*/
.OFB{
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    color:white;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, 6px 6px 12px #ffffff;
    transition: all ease-in-out 0.2s;
}


    .outfit-button1{
            order: 1;
            background-color: rgb(34, 217, 34);
    }
        .outfit-button1:hover{
            background-color: #1da21d;
        }

    .outfit-button2{
        order:2;
        background-color: #4169E1;
    }
        .outfit-button2:hover{
            background-color: #2a2a91;
            border:black;
        }


    .outfit-button3{
        order:3;
        background-color: #fa4303;
    }
        .outfit-button3:hover{
            background-color: #b20000;
        }

    .outfit-button4{
        order:4;
        background-color:#87CEFA;
    }
        .outfit-button4:hover{
            background-color: #4b9393;
        }

