/* Reset some default browser styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a basic style to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

#homePage, #clothesPage, #outfitsPage, #socialsPage {
    display: none;
}

/* 
* -----------------------------
* Styles for the navbar header
* -----------------------------
*/

header {
    background-color: #ffffff;
    position: fixed;
    color: #000000;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 9;
}

/* Style the logo image with padding */
header a img {
    height: 50px;
    padding: 10px; /* Add padding around the logo */
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav li {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

/* Style the navigation buttons with padding */
.nav-button {
    height: 100px;
    width: 200px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    cursor: pointer;
}

/* Style the icon and text in navbar */
.nav-icon {
    font-size: 24px;
}

.nav-icon-pic {
    height: 25px;
    padding-bottom: 5px;
}

.nav-text {
    font-size: 24px;
    text-align: center;
}

.profile {
    height: 50px;
    padding: 10px; /* Add padding around the logo */
    margin-left: 20px;
    margin-right: 20px;
}

/* 
* -----------------------------
* Styles for the main content
* -----------------------------
*/
main {
    padding: 20px;
    margin-top: 100px;
}

main h1 {
    text-align: center;
}

section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    align-content: center;
}

/* 
* -----------------------------
* Styles for the Footer
* -----------------------------
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 0;
    position: relative;
}


/* 
* -----------------------------
* Styles for the Outfit Section
* -----------------------------
*/

/*bottom buttons*/
#headedO{
    font-size:20px;
    padding: 0px 0px;
    margin:0;

}

#description-box{
    width: 30%;
    height: 40%;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 10px 2px;
}
#Description{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    padding: 0px 0px;
}
#content-box{
    width: 40%;
    height: 300px;
    border: 3px solid #000;
    box-sizing: border-box;
    position: relative; /* Add relative positioning */
}


/*the arrow buttons on the side*/
.arrow {
    flex-direction: row;
    font-size: 40px;
    border-radius: 10px;
    color: #333333;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c5c5c5, 6px 6px 12px #ffffff;
    transition: all ease-in-out 0.2s;

}

    .arrow.left {
        position: absolute;
        left: 24%;
        top:52% ;/*centrally vertical*/
        transform: translateY(-50%);
    }
        .arrow.left:hover {
            font-size: 45px;
        }


    .arrow.right {
        position: absolute;
        left: 73%;
        top:52%; /*centrally vertical*/
        transform: translateY(-50%);
    }
        .arrow.right:hover {
            font-size: 45px;
        }



/*the buttons on the bottom of the page*/
.OFB{
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    color:white;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, 6px 6px 12px #ffffff;
    transition: all ease-in-out 0.2s;
}


    .outfit-button1{
            order: 1;
            background-color: rgb(34, 217, 34);
    }
        .outfit-button1:hover{
            background-color: #1da21d;
        }


    .outfit-button2{
        order:2;
        background-color: #4169E1;
    }
        .outfit-button2:hover{
            background-color: #2a2a91;
            border:black;
        }

    .outfit-button3{
        order:3;
        background-color: #fa4303;
    }
        .outfit-button3:hover{
            background-color: #b20000;
        }


    .outfit-button4{
        order:4;
        background-color:#87CEFA;
    }
        .outfit-button4:hover{
            background-color: #4b9393;
        }

.modal-button:hover{
    box-shadow: 0 0 5px 2px #363535;
    text-decoration: underline;
}

.clothing-modal-buttons:hover{
    background: linear-gradient(to right,#fff, #b1e3f8);
    width:140px;
    text-decoration:underline;
    color: #5555f5;
}

.display.choices{
    align-items: center;
    top:30%;
    left:100px;
    width:50%;
    height:50%;
}


/* 
* -----------------------------
* Styles for the Social Section
* -----------------------------
*/

#searchButton{
    position: fixed;
    right: 25%;
    top: 25%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.instagram-feed {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.post {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%
}

.post-img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.follow-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-caption {
    padding: 10px;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

#postButton {
    position: fixed;
    left: 25%;
    top: 25%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#postButtonInPopup {
    margin-top: 50px;
    padding: 10px 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.like-btn,
.save-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.commentSection{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
}


.commentSection2{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

#comment-btn{
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#commentBox {
    border: 1px solid #ccc;
    padding: 3% 8%;
    height: 100px;
    overflow-y: scroll;
    text-align: left;
}
#commentBox2 {
     border: 1px solid #ccc;
     padding: 3% 8%;
     height: 100px;
     overflow-y: scroll;
     text-align: left;
 }

#commentInput1 {
    width: 450px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
}

#commentInput2 {
    width: 400px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
}

#commentButtonInPopup {
    margin-top: 50px;
    padding: 10px 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon {
    margin-right: 5px;
}

.liked {
    color: red;
}

#column {
    position: fixed;
    height: 75%;
    width: 17.5%;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#names {
    list-style: none;
    padding: 0;
    margin: 0;
}

#names li {
    margin-bottom: 10px;
}

.nameButton {
    font-size: 25px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nameButton:hover {
    background-color: #2980b9;
}


/* 
* -----------------------------
* Styles for the modals
* -----------------------------
*/
/* Modal Gray Background */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

/* General Modal Properties */
.modal-content {
    padding-top: 40px;
    position: relative;
    height: 90%;
}

.right-close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.left-close {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

/* Clothing Modal */
.clothing-modal {
    display: none;
    position: fixed;
    left: 31%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    z-index: 11;

    border-radius: 10px;
    border: solid #000000;
    border-width: medium;
}

.clothing-modal-buttons{
    flex-direction:row;
    position: absolute;
    align-items:end;
    font-size:25px;
    margin:10px;
    padding: 1.5%;
    width: 120px;
    background-color: #ffffff;
    cursor: pointer;
}

.Tops{
   top:30%;
}
.Bottoms{
    top: 40%;
}
.Shoes{
    top:50%;
}
.Others{
    top:60%;
}

/* Profile Modal */
.profile-modal {
    display: none;
    position: fixed;
    right: -18%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    z-index: 11;

    border-radius: 10px;
    border: solid #000000;
    border-width: medium;
}

.profile-pic {
    height: 100px;
    padding: 10px;
}

.profile-text {
    padding: 10px;
    color: #000;
    font-size: 24px;
}

.profile-button {
    background: none;
    border: none;
    color: #4d4d4d;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.profile-footer {
    position: absolute;
    bottom: 0;
}

/* Post Modal */
.post-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #fff;
    padding: 10px;
    z-index: 13;

    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.post-modal-img {
    width: 60%;
    height: 80%;
    border: solid #000000;
    border-width: small;
}

/*
* -----------------------------
* Styles for the confirmation boxes
* -----------------------------
*/
/* CBox Gray Background */
.cbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 12;
}

/* General CBox Properties */
.cbox-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 20%;
    background-color: #fff;
    padding: 10px;
    z-index: 13;

    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.cbox-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 70%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    text-align: center;
}

.cbox-button {
    margin: 5px;
    padding: 20px 20px; /* Adjusted padding for larger buttons */
    font-size: 16px;
    cursor: pointer;
    width: 45%; /* Set the width to fill half of their side */
    box-sizing: border-box; /* Include padding in the button's total width */
    border-radius: 4px;
    background-color: #fff;
    color: #000;
 }
    .confirm{
        color:white;
        background-color: #f6531a;
    }


